*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

body{
    margin: 2rem auto;
    margin-top: 0;
    width: 100%;
    width: 100vw;
}

button{
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid rgb(232, 190, 79);
    font-size: 14px;
    background-color: rgb(235, 200, 106);
}

/* special styling for the next button */
.next{
    margin-top: 0.5rem;
}

.Quiz-Modal{
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.Quiz-content{
    border: 2px solid white;
    margin: 30px auto;
    margin-top: 7rem;
    height: 75%;
    width: 100%;    
}

/* styling for the actual flash card  */
.Quiz{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 20px auto;
    margin-top: 2.5rem;
    padding: 3rem;
    height: 85%;
    width: 80%;
    color: white;
    position: relative;
}
.quiz-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.close-modal {
    color: white;
    position: absolute;
    /* we need it to be very close to the top and the right */
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close-modal:hover,
.close-modal:focus {
    color: #999;
    cursor: pointer;
}

/* inside the modal */
.Question-box{
    margin: 4rem auto;
}
h3{
    font-size: 4rem;
}
.option-box{
    margin: 1rem;
}