*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#results{
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body{
    border: 0.8rem solid rgba(247, 195, 57, 0.434); 
}

.home{
    margin: 2rem;
    /* border: 2px solid black; */
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-family: 'Girassol', cursive;
    
}

button{
    margin: 1rem;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid rgb(232, 190, 79);
    font-size: 14px;
    background-color: rgb(235, 200, 106);
}

/* special styling for the next button */
.next{
    margin-top: 0.5rem;
}

.Quiz-Modal{
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.Quiz-content{
    border: 2px solid white;
    margin: 30px auto;
    margin-top: 7rem;
    height: 75%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
/* styling for pagination */
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
/* styling for the actual flash card  */
.quiz-container{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 2rem;
    margin-top: 2.5rem;
    padding: 3rem;
    height: 85%;
    width: 80%;
    color: white;
    position: relative;
}
.quiz-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.close-modal {
    color: white;
    position: absolute;
    /* we need it to be very close to the top and the right */
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close-modal:hover,
.close-modal:focus {
    color: #999;
    cursor: pointer;
}

/* inside the modal */
.question{
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.answers{
    margin: 0 auto;
    font-size: 1.2rem;
    /* text-align: left; */
    padding: 1rem;
    display: inline-block;
}

label{
    display: block;
    text-align: left;
}

#results{
    text-align: right;
    width: 100%;
    padding-top: 2rem;
    padding-right: 4rem;
}

@media only screen and (min-height: 821px){
    .question{
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 1134px){
    .question{
        padding: 0.2rem;
        /* margin-top: 2.5rem; */
        font-size: 1rem;
    }
    .answers{
        font-size: 1rem;
    }

    label{
        margin: 0.3rem;
    }

}

@media only screen and (max-width: 1024px){
    .question{
        padding: 0.3rem;
        /* margin-top: 6rem; */
        font-size: 1.2rem;
    }
    .answers{
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 850px){
    .question{
        padding: 0.5rem;
        margin-top: 2.5rem;
        font-size: 1.3rem;
    }
    .answers{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px){
    .question{
        /* margin-top: 4rem; */
        /* font-size: 1.rem; */
    }
    .answers{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px){
    .question{
        padding: 0.5rem;
        margin-top: 1rem;
        font-size: 1rem;
        text-align: left;
    }
    .answers{
        font-size: 0.8rem;
        /* text-align: left; */
    }

    label{
        margin: 0.3rem;
    }

}

@media only screen and (max-width: 414px){
    .question{
        padding: 0.5rem;
        padding-bottom: 0;
        margin-top: 1rem;
        font-size: 1rem;
        text-align: left;
    }
    .answers{
        font-size: 0.5rem;
        /* text-align: left; */
    }

    label{
        margin: 0.3rem;
    }

}

@media only screen and (max-width: 375px), (max-width: 375px){
    .question{
        padding: 0.5rem;
        padding-bottom: 0;
        margin-top: 0.3rem;
        font-size: 0.5rem;
        text-align: left;
    }
    .answers{
        font-size: 0.3rem;
    }

    label{
        margin: 0.1rem;
    }

}

@media only screen and (max-width: 320px){
    .question{
        padding: 0.2rem;
        margin-top: 0rem;
        font-size: 0.5rem;
    }
    .answers{
        font-size: 6px;
    }

    label{
        margin: 0;
    }

}

@media only screen and (max-height: 375px){
    .question{
        padding: 0rem;
        margin-top: 1rem;
        font-size: 8p;
    }
    .answers{
        font-size: 4px;
        display: block;
    }
    label{
        display: inline;
    }
}


