/* basic css that we want to affect the whole page and remove white space */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* styling for the buttons */
.open-modal{
    margin: 30px auto;
    display: block;
}

/* styling for the modal */
.Quiz-Modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}


/* 
this is the tag we would mess with for responsivity 
contains styling for the group of flash cards
*/
.Quiz-content{
    border: 2px solid white;
    margin: 30px auto;
    height: 65%;
    width: 75%;    
}

/* styling for the actual flash card  */
.Quiz{
    display: none;
    border: 2px solid white;
    margin: 20px auto;
    /* padding-top: 100px; */
    height: 85%;
    width: 80%;
    color: white;
    position: relative;
}

/* this is styling for the span that closes the whole modal  */
.close-modal {
    color: white;
    position: absolute;
    /* we need it to be very close to the top and the right */
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close-modal:hover,
.close-modal:focus {
    color: #999;
    cursor: pointer;
}

/* styling for the click to start on the flashcard */
.startQuizContainer{
    font-size: 67px;
}
.startQuizContainer:hover{
    color: yellow;
    text-decoration: underline;
}

/* styling for the button to get them inactive*/
.inactive {
    display: none;
}

/* trying to hover to flip the card based on the front and back of the card */

.flash-card{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-content: center; */
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    border-width: 2px;
    border-style: outset; 
    transition: transform 500ms ease-in-out;
    color: white;
    text-align: center;
}


.Quiz:hover .front-card{
    transform: rotateY(-180deg);
}

.Quiz:hover .back-card{
    transform: rotateY(0);
}

.front-card{
    border-color: rgb(187, 221, 63);
    font-size: 35px;
    overflow: hidden;
}

.back-card{
    transform: rotateY(-180deg);
}
