/* basic css that we want to affect the whole page and remove white space */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    /* border: 2px solid black; */
}

.Quiz-Modal{
    display: none;
    border: 2px solid black;
    height: 770px;
    width: 100%;
}

.Quiz-content{
    border: 2px solid black;
    margin: 0 auto;
    height: 65%;
    width: 75%;
    
}