*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cover-block{
   
    height: 100%;
    width: 100%;
    background-color: rgba(247, 195, 57, 0.8);
    border: 0.8rem solid rgba(247, 195, 57, 0.434); 
}

.headertag{
    margin: 0 auto;
    margin-top: 10rem;
    font-size: 8rem;
    font-family: 'Girassol', cursive;
    /* border: 2px solid black; */
    width: 75%;
    
}

h2{
    text-align: right;
}

a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: rgba(7, 7, 7, 0.434);
}

.link-button-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 10rem;
}

.link-Button{
    border: 0.3rem solid rgba(7, 7, 7, 0.6);
    border-radius: 10px;
    width: 30%;
    margin: 5px;
    padding-top: 2rem;
    height: 8rem;
    background-color: rgba(94, 77, 2, 0.3);
}
  
/* media queries */

/* ipad pro */
@media only screen and (max-width: 1024px){
    .cover-block{
        padding: 2rem;
    }

    .headertag{
        margin-top: 20rem;
        font-size: 5rem;
        width: 80%;
        
    }
    
    h2{
        text-align: center;
    }

    p{
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem;
    }
}

/* large devices and ipad */
@media only screen and (max-width: 992px), (max-width: 768px){
    .headertag{
        margin-top: 13rem;
    }
    p{
        text-align: justify;
    }
    .link-button-home{
        margin-top: 6rem;
    }
    a{
        font-size: 2.8rem;
    }

}


/* extra small devices like iphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 560px){
    .headertag{
        font-size: 2.5rem;
        margin-top: 11.5rem;
    }

    p{
        text-align: justify;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .link-Button{
        width: 30%;
        margin: 5px;
        padding-top: 1rem;
        height: 4rem;
    }

    a{
        font-size: 1rem;
    }

    .link-button-home{
        margin-top: 2rem;
    }
}

@media only screen and (max-device-width : 480px){
    .headertag{
        font-size: 2.5rem;
        margin-top: 11.5rem;
    }

    p{
        text-align: justify;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .link-Button{
        width: 30%;
        margin: 5px;
        padding-top: 1rem;
        height: 4rem;
    }

    a{
        font-size: 1rem;
    }

    .link-button-home{
        margin-top: 2rem;
        height: 3rem;
    }
}

/* small devices */
@media only screen and (max-width: 320px){
    .headertag{
        font-size: 2.1rem;
        margin-top: 6rem;
    }
    .link-Button{
        padding-top: 0.5rem;
        height: 3rem;
    }
    a{
        font-size: 0.8rem;
    }
}

